services:
  app:
    build: .
    container_name: fastapi-app
    restart: unless-stopped
    expose:
      - "8000"
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - type: bind
        source: /etc/letsencrypt/live/web.vicolby.space
        target: /etc/nginx/certs
        read_only: true
        bind:
          propagation: rslave
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
